name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    # - name: Azure Cosmos Emulator
    #   uses: galvesribeiro/AzureCosmosAction@v1.0.0
    # - name: Start CosmosDB Emulator
    #   run: .\StartEmulator.cmd
    - name: Build
      run: dotnet build --configuration Release
    # - name: Test
    #   run: dotnet test --configuration Release --no-build